# Environment Configuration
NODE_ENV=development
PORT=5000
API_PREFIX=/api/v1

# Database Configuration (PostgreSQL / Neon / Supabase)
DATABASE_URL=postgresql://postgres:DbMsProjecT%4012%23@db.idqpehhbebggkoofxohe.supabase.co:5432/postgres
DB_HOST=db.idqpehhbebggkoofxohe.supabase.co
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=DbMsProjecT@12#
DB_SSL=true

# Authentication Secrets
JWT_SECRET=irms_jwt_super_secret_key_2026_production_ready_987654321
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_SECRET=irms_jwt_refresh_super_secret_key_2026_production_ready_123456789
JWT_REFRESH_EXPIRATION=7d

# CORS Configuration
CLIENT_URL=http://localhost:3000

# Cookie Configuration
COOKIE_SECRET=irms_cookie_secret_key_2026
